includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  phpVersion: 70400
  treatPhpDocTypesAsCertain: false

  paths:
    - dibs-easy-for-woocommerce.php
    - src
    - classes
    - includes
    - templates
    - blocks/src

  excludePaths:
    - node_modules (?)
    - blocks/build (?)
    - assets

  scanDirectories:
    - vendor/php-stubs
    - dependencies

  bootstrapFiles:
    - phpstan-bootstrap.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    - vendor/php-stubs/woocommerce-subscriptions-stubs/woocommerce-subscriptions-stubs.php

  dynamicConstantNames:
    - WC_DIBS_EASY_VERSION
    - WC_DIBS__URL
    - WC_DIBS_PATH
    - DIBS_API_LIVE_ENDPOINT
    - DIBS_API_TEST_ENDPOINT
