@media only screen and (min-width : 767px) {
    body.dibs-enabled #dibs-complete-checkout{
        float:right !important;
        width:50% !important;
        display:inline-block !important;
    }

    body.dibs-enabled #order_review_heading{
        float:left !important;
        clear:left !important;
        display:inline-block !important;
    }

    body.dibs-enabled #order_review{
        float:left !important;
        clear:left !important;
        display:inline-block !important;
    }
    body.dibs-enabled .woocommerce-additional-fields{
        float:left !important;
        width:47.8260869565% !important;
        clear:left !important;
        display:block !important;
    }
}

@media only screen and (max-width : 767px) {
    body.dibs-enabled #order_review_heading, body.dibs-enabled #order_review, body.dibs-enabled .woocommerce-additional-fields{
        float:none !important;
        clear:both !important;
        width:100% !important;
        display:block !important;
    }
}
body.dibs-enabled .woocommerce-billing-fields, body.dibs-enabled .woocommerce-shipping-fields{
    display:none;
}